*{
    margin: 0;
    padding: 0;
    appearance: none;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

body{

    ---backgroundColorHeader:#606c38;
    ---aboutMeBackdrop:#023047;
    ---headings:35px;
    ---iconSize:25px;


}
body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
 
}





.imageWithBio{
--roundedEdges:18px;
--width:60vw;
--color:white;

    
    width: var(--width);
    border-radius: calc(var(--roundedEdges) + 3px);
   display: flex;
    background-color: var(---aboutMeBackdrop);
    color:var(--color);

    .person{
        font-size: 16px;
        h1{
            margin-top: 13px;
            font-size: 45px;
        }
        .descriptionSelf{
            margin-top: 13px;
            font-size: 18px;
            padding: 13px;

        }
        .icons{
            display: flex;
            justify-content: end;
            padding: 12px;
            gap:12px;
            svg{
                width: var(---iconSize);
                height: var(---iconSize);
            }
        }
       
        img{
            border-radius: var(--roundedEdges);
            
            
        }
        .image{
            float: left;
            margin: 20px;
            height: auto;
          
        }
    }
    
   

}
.name{
    --font-size:40px;
    --color:white;
    margin-top:-50px;
    font-size: var(--font-size);
    text-shadow: 0px 2px 20px black;
    color: var(--color);
    text-align: center;
  
   
 
}
.header{
  
    display: flex;
    justify-content: center;
}

.bio{
    --size:23px;
    padding: var(--size);
 
    display:flex ;
    flex-direction: column;
    gap:var(--size) ;
    .aboutMe{
        font-size:var(---headings) ;
    }
    .icons{
        display: flex;
        justify-content: end;
        gap: var(--size);
        
        svg{
            width: var(---iconSize);
            height: var(var(---iconSize));
        }
    }
}

main{
    position: relative;
        z-index: 2;
        top: 10vw;
        left: 10vw;
    display: flex;
    flex-direction: column;  
    width: 80vw;
   
    gap: 5vh;


}
.projects{
    display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(2,1fr);
   gap: calc(2vw - 20px);
}
.card{
---backgroundColorCard:#84a98c;
---imgSize:300px;
---padding:5px;
--borderRadius:6px;

border-radius: var(--borderRadius);
box-shadow: 2px 2px 2px black;
padding: var(---padding);
background-color: var(---backgroundColorCard);
display: flex;
flex-direction: column;
gap: var(---padding);

align-items: center;

svg{
    width: var(---iconSize);
    height: var(---iconSize);

}
.description{
    width: var(---imgSize);
}
img{
    width: var(---imgSize);
}
    .title{
        display: flex;
        justify-content: space-between;
        width:var(---imgSize)
     
        
    }

 .projectName{
    display: flex;
    align-items: center;
 }   
}

footer{
  --footerImgae:320px;
    background-color: var(---backgroundColorHeader);
  
  
    padding:10px 80px;
    display: flex;
    justify-content: space-around;
    img{
        width: var(--footerImgae);
        border-radius:12px;
    }

        h3 {
            font-size: 45px;
        }

}
.Details{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 12px;

    .icons{
        display: flex;
        gap: 13px;
        svg{
            width: var(---iconSize);
            height: var(---iconSize);
        }

        margin-top: 30px;
    }

    
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30vh;
    width: calc(100vw + 30px);

   
}
.contactDetails{
    display: flex;
    flex-direction: column;
    gap: 8px;
    p>svg{
        width: var(---iconSize);
        height: var(---iconSize);
    }
  
    p{
        display: flex;
        
        align-items: center;
        gap: 4px;
    }
}

@media (max-width:1024px) and (min-width:580px) {
    .projects{
        grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 30px;
    }
    .content{
        gap: 30vh;
    }
   
      
      .name{
        position: absolute;
        top: -90px;
        left:200px

      }
   
        body {
            overflow-x: hidden;
        }

    footer{
        img{
            width: 250px;
        }
    }

  
    .image{
        height: 200px;
    }

    .imageOnText{
        display: flex;
    }
    .person{
       text-wrap: wrap;
    }
    
}

@media (max-width:425px) {
   
    .bio{
        font-size: 16px;
    }
    .card{
        font-size: 14px;
        padding: 15px;
    }
.name {
    position: relative;
       top: -250px;
        
       
    }
 .person{
    .image {
            display: flex;
            margin: 8px !important;
                        padding: 0px;
    }
    h1{
        text-align: center;
    }

 }


 .projects {
            grid-template-columns: repeat(1, 310px);
            grid-template-rows: repeat(6, 1fr);
            gap: 10px;
        }
    
.content {
            gap: 30vh;
    }

    footer{
        gap:12px;
        font-size: 14px;
        flex-direction: column;

    padding: 10px 10px;
    
    .Details{
        text-align: center;
    }
        
    picture,div,p {
     display: flex;
     justify-content: center;

    }
    }
    
}

